<head>
    <style>
        input {
            border: 1px solid #eee;
            height: 30px;
            width: 100%;
            padding: 5px;
            text-align: center;
        }
        
        button {
            border: 1px solid #eee;
            padding: 4px;
        }
    </style>
</head>
<form action="/checkadmin" method="post" style="margin: 200px 40% 0 40%">
    <input type="text" name="email" value="" placeholder="type your email" />
    </br>
    </br>
    <input type="text" name="pass" placeholder="type your password" />
    </br>
    </br>
    <button type="submit">Submit</button>
</form>